@{
    ViewData["Title"] = "Data Viewer";
}

    <div class="container border" style="padding:5px">
        <h4>Main Entity and Filters</h4>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fitwidth">
                            <label for="mainEntitySelect">Table: </label>
                        </td>
                        <td class="fitwidth">
                            <select id="mainEntitySelect" onchange="mainEntityChanged(this.value);" />
                        </td>
                        <td class="fitwidth">
                            <label for="columnSelect">Column: </label>
                        </td>
                        <td class="fitwidth">
                            <select id="columnSelect" onchange="columnSelectionChanged(this.value);" />
                        </td>
                        <td class="fitwidth">
                            <select id="operatorSelect" onchange="setColumnFilterTextDisabled(this.value);">
                                <option value="=" selected>=</option>
                                <option value=">"></option>
                                <option value=">=">=</option>
                                <option value="<"><</option>
                                <option value="<="><=</option>
                                <option value="<>"><></option>
                                <option value="IsNull">Is Null</option>
                                <option value="IsNotNull">Is Not Null</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="columnFilterText" class="form-control" />
                        </td>
                        <td align="right" class="fitwidth">
                            <input type="button" id="AddFilterBtn" value="Add" class="btn-secondary" onclick="appendFilter();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td style="width:auto">
                            <label for="filterCriteriaTextArea">Criteria:</label>
                        </td>
                        <td colspan="5" style="width:100%">
                            <input id="filterCriteriaTextArea" class="form-control"/>
                        </td>
                     </tr>
                    <tr>
                        <td style="width:auto">
                            <label for="orderBySelect">Order: </label>
                        </td>
                        <td style="width:auto">
                            <select id="orderBySelect" />
                        </td>
                        <td style="width:auto">
                            <select id="ascDescSelect">
                                <option value="Desc" selected>Desc</option>
                                <option value="Asc">Asc</option>
                            </select>
                        </td>
                        <td style="width:auto">
                            <label for="topNText">Top: </label>
                        </td>
                        <td style="width:auto">
                            <input type="number" id="topNText" min="1" max="999" style="width:60px" value="100" />
                        </td>
                        <td align="right" style="width:100%">
                            <input type="button" id="ApplyFilterBtn" value="Apply" class="btn-primary" onclick="getMainEntityData();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table id="mainDataTable" class="table cell-border compact stripe nowrap">
                <thead><tr></tr></thead>
            </table>
        </div>
    </div>

<div class="container border" style="padding:5px">
    <h4>Child Relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-7">
            <label for="childEntitySelect">Child: </label>
            <select id="childEntitySelect" onchange="childEntityChange(this.value)">
            </select>
        </div>
        <div class="col-md-2" align="left">
            <label for="hideIfNoDataCheck">Hide if no data: </label>
            <input type="checkbox" id="hideIfNoDataCheck" checked />
        </div>
        <div class="col-md-3" align="right">
            <input type="button" id="childNavigateFromBtn" value="Move to Main" class="btn-primary" onclick="navigateFromChild();" />
        </div>
    </div>
    <div class="table-responsive">
        <table id="childDataTable" class="table cell-border compact stripe nowrap">
            <thead><tr></tr></thead>
        </table>

    </div>
</div>

<div class="container border" style="padding:5px">
    <h4>Parent Relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-9">
            <label for="parentEntitySelect">Parent: </label>
            <select id="parentEntitySelect" onchange="parentEntityChange(this.value)">
            </select>
        </div>
        <div class="col-md-3" align="right">
            <input type="button" id="parentNavigateFromBtn" value="Move to Main" class="btn-primary" onclick="navigateFromParent();" />
        </div>
    </div>
    <div class="table-responsive">
        <table id="parentDataTable" class="table cell-border compact stripe nowrap">
            <thead><tr></tr></thead>
        </table>
    </div>
</div>
