@{
    ViewData["Title"] = "Data Viewer";
}

<div class="container" style="padding:5px">
    <h4>Current table and filters</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-4">
            <label for="currentTableSelect">Table: </label>
            <select id="currentTableSelect">
                <option value="table1" selected>Table 1</option>
                <option value="table2">Table 2</option>
            </select>
        </div>
        <div class="col-md-7">
            <label for="currentColumnSelect">Column: </label>
            <select id="currentColumnSelect">
                <option value="col1" selected>Column 1</option>
                <option value="col2">Column 2</option>
            </select>
            <select id="currentOperatorSelect">
                <option value="=" selected>=</option>
                <option value=">"></option>
                <option value=">=">=</option>
                <option value="<"><</option>
                <option value="<="><=</option>
                <option value="<>"><></option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <input type="text" />
        </div>
        <div class="col-md-1">
            <input type="button" id="AddFilterBtn" value="Add" class="btn-secondary" />
        </div>
    </div>
    <div class="row" style="padding:7px">
        <div class="col-md-1">
            <label for="filterCriteriaText">Criteria:</label>
        </div>
        <div class="col-md-10">
            <textarea id="filterCriteriaText" style="width:inherit" rows="2" readonly></textarea>
        </div>
        <div class="col-md-1">
            <input type="button" id="ApplyFilterBtn" value="Apply" class="btn-primary" />
        </div>
    </div>
</div>

<div class="container" style="padding:5px">
    <h4>Child relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-10">
            <label for="childTableSelect">Child: </label>
            <select id="childTableSelect">
                <option value="table1" selected>Table 1</option>
                <option value="table2">Table 2</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="hideIfNoDataCheck">Hide if no data: </label>
            <input type="checkbox" id="hideIfNoDataCheck" checked />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="childDataTable">
        </table>
    </div>
</div>

<div class="container" style="padding:5px">
    <h4>Parent relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-12">
            <label for="parentTableSelect">Parent: </label>
            <select id="parentTableSelect">
                <option value="table1" selected>Table 1</option>
                <option value="table2">Table 2</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="parentDataTable">
        </table>
    </div>
</div>
