@{
    ViewData["Title"] = "Data Viewer";
}

<div class="container" style="padding:5px">
        <h4>Main Table and Filters</h4>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fitwidth">
                            <label for="mainTableSelect">Table: </label>
                        </td>
                        <td class="fitwidth">
                            <select id="mainTableSelect" />
                        </td>
                        <td class="fitwidth">
                            <label for="columnSelect">Column: </label>
                        </td>
                        <td class="fitwidth">
                            <select id="columnSelect" onchange="columnSelectionChanged(this.value);" />
                        </td>
                        <td class="fitwidth">
                            <select id="operatorSelect">
                                <option value="=" selected>=</option>
                                <option value=">"></option>
                                <option value=">=">=</option>
                                <option value="<"><</option>
                                <option value="<="><=</option>
                                <option value="<>"><></option>
                                <option value="IsNull">Is Null</option>
                                <option value="IsNotNull">Is Not Null</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="columnFilterText" class="form-control" />
                        </td>
                        <td align="right" class="fitwidth">
                            <input type="button" id="AddFilterBtn" value="Add" class="btn-secondary" onclick="AddFilter();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="fitwidth">
                            <label for="filterCriteriaText">Criteria:</label>
                        </td>
                        <td>
                            <textarea id="filterCriteriaText" class="form-control" rows="2"></textarea>
                        </td>
                        <td class="fitwidth">
                            <label for="topNText">Top: </label>
                        </td>
                        <td class="fitwidth">
                            <input type="number" id="topNText" min="1" max="999" style="width:60px" value="100" />
                        </td>
                        <td align="right" class="fitwidth">
                            <input type="button" id="ApplyFilterBtn" value="Apply" class="btn-primary" onclick="GetParentData();" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="container" style="padding:5px">
    <h4>Child Relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-4">
            <label for="childTableSelect">Child: </label>
            <select id="childTableSelect">
                <option value="table1" selected>Table 1</option>
                <option value="table2">Table 2</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="button" id="childNavigateFromBtn" value="Navigate From Selected Row" class="btn-secondary" />
        </div>
        <div class="col-md-2" align="right">
            <label for="hideIfNoDataCheck">Hide if no data: </label>
            <input type="checkbox" id="hideIfNoDataCheck" checked />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="childDataTable">
        </table>
    </div>
</div>

<div class="container" style="padding:5px">
    <h4>Parent Relations</h4>
    <div class="row" style="padding:7px">
        <div class="col-md-4">
            <label for="parentTableSelect">Parent: </label>
            <select id="parentTableSelect">
                <option value="table1" selected>Table 1</option>
                <option value="table2">Table 2</option>
            </select>
        </div>
        <div class="col-md-8">
            <input type="button" id="parentNavigateFromBtn" value="Navigate From Selected Row" class="btn-secondary" />
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="parentDataTable">
            <thead><tr></tr></thead>
        </table>
    </div>
</div>
